<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :orderDate, id: :order_orderDate, value: Date.today %>
  </div>

  <div class="field">
    <%= form.hidden_field :requiredDate, id: :order_requiredDate, value: Date.today%>
  </div>

  <div class="field">
    <%= form.hidden_field :shippedDate, id: :order_shippedDate, value: nil %>
  </div>

  <div class="field">
    <%= form.hidden_field :status, id: :order_status, value: 'Receive' %>
  </div>

  <div class="field">
    <%= form.hidden_field :comments, id: :order_comments, value: nil %>
  </div>

  <div class="field">
    <%= form.hidden_field :customerNumber, id: :order_customerNumber, value: current_user.customer.customerNumber %>
  </div>

  <h2>Shipping Address: Choose one</h2>
  <%= link_to 'New Shipping Address', new_shipping_address_path %>

  <% current_user.shipping_addresses.each do |shipping| %>
    <div class='field'>
      <%= radio_button('order', 'shipping_address_id', shipping.id) %>
      <%= "#{shipping.address_line1}\n#{shipping.city}, #{shipping.state} #{shipping.zip}" %>
    </div>
  <% end %>

  <h2>Billing Address: Choose one</h2>
  <%= link_to 'New Billing Address', new_billing_address_path %>

  <% current_user.billing_addresses.each do |billing| %>
    <div class='field'>
      <%= radio_button('order', 'billing_address_id', billing.id) %>
      <%= "#{billing.address_line1}\n#{billing.city}, #{billing.state} #{billing.zip}" %>
    </div>
  <% end %>


  <div class="actions">
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-amount="<%= current_user.cart.total_price*100 %>" data-description="order" data-key="<%= Rails.application.secrets.stripe_publishable_key %>"></script>
  </div>
<% end %>
