<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<% if @orders.empty? %>
  <p>No Orders</p>
<% end %>

<div class='orders'>
  <div class='order'>
    <% @orders.each do |order| %>
      <%= order.orderNumber %>
      <table class='table table-striped'>
        <tbody>
          <% order.orderdetails.each do |detail| %>
            <% product = detail.product%>
            <tr>
			<td><%= link_to image_tag(product.productlines.image || 'missing.jpg' ), product_path(product) %></td>
              <td><%= link_to product.productName, product_path(product) %></td>
              <td><%= detail.priceEach %></td>
              <td><%= detail.quantityOrdered %></td>
              <td><%= "Total: #{detail.total}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>Order Total: <%= order.total %></p>
    <% end %>
  </div>
</div>


