<p id="notice"><%= notice %></p>
<h1>Order Confirmation</h1>

<div class="confirmation">
<p>
  <strong>Date:</strong>
  <%= @order.orderDate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<table class="orders">
<thead>
<td><b>Product</b></td>
<td><b>Name</b></td>
<td><b>Quantity</b></td>
<td><b>Price</b></td>
</thead>
<tbody>
<% @order.orderdetails.each do |detail| %>
<tr>
	<td><%= image_tag(detail.product.productlines.image || 'missing.jpg' ) %></td>
	<td><%= detail.product.productName %></td>
	<td><%= detail.quantityOrdered %></td>
	<td><%= number_to_currency(detail.priceEach) %></td>
</tr>
<% end %>
</tbody>
</table>

<p class="total">
<strong>Total:</strong>
<%= number_to_currency @order.total %>
</p>
</div>
