

<p id="notice"><%= notice %></p>

<div id="product-detail">
	<%= image_tag(@product.image) %>

	<div>
		<h1><%= @product.productName %></h1>

		<h3><%= number_to_currency(@product.MSRP) %></h3>

		<p><b>Vendor: </b><%= @product.productVendor %></p>

		<p><b>Description: </b><%= @product.productDescription %></p>



		<nav>
			<%= link_to 'Add to Cart', line_items_path(productCode: @product.productCode), method: :post %>
			<%= link_to 'Edit', edit_product_path(@product)  if current_user.try(:admin?) %>
			<%= link_to 'Back', products_path %>
      <%= link_to('Write Review', new_review_path(review: {product_id: @product.productCode}))  if user_signed_in? %>
      <%= link_to('Delete Product', product_path(@product), method: :delete)  if current_user.try(:admin?) %>
		</nav>
	</div>
</div>
<div class='reviews'>
  <% @reviews.each do |review| %>
    <div class='review'>
      <h4><%= review.user.customer.customerName %> - <%= review.created_at.strftime("%m/%d/%Y") %></h4>
      <p><%= review.review %></p>
	  <p><b>Stars: <%= review.stars %> out of 5</b></p>
    </div>
    <br>
  <% end %>
</div>
