<nav class="topnav">
	<p><%= link_to(image_tag("logo.png"), root_path) %></p>
	<%=form_tag products_path, class: 'search' , method: :get do %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>
	<p>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= image_tag("login-icon.png") %> <br>Logout
      <% end %>
      <%= link_to edit_user_registration_path do %>
        <%= image_tag("login-icon.png") %> <br>Account
      <% end %>
      <%= link_to cart_path(current_user) do %>
        <%= image_tag("checkout-icon.png") %> <br>Cart
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= image_tag("login-icon.png") %> <br>Login
      <% end %>
      <%= link_to new_user_registration_path do %>
        <%= image_tag("sign-up.png") %> <br>Sign Up
      <% end %>
      <%= link_to new_user_session_path do %>
        <%= image_tag("checkout-icon.png") %> <br>Cart
      <% end %>
    <% end %>
	</p>
</nav>
